@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--very-small: .7017rem;
	--small: .7937rem;
	--regular: 1rem;
	--large: 1.016rem;
	--very-large: 1.1906rem;
	--extra-large: 1.4923rem;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: #d1e5d9;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: center 1.25rem, 0 0;
	background-size: 140rem, auto;
}

.wrapper {
	background-color: #fff;
	border: .0625rem solid #3e7614;
	border-radius: 1rem;
	padding: 1.5rem 1.875rem;
	margin: 2.21rem auto;
	width: clamp(calc(22.5rem - 2rem), calc(100% - 1rem), 62.5rem);
}

.nav {
	height: 3.875rem;
	background-color: #232c36;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.nav__left {
		display: flex;
		align-items: center;
	}

	.nav__right {
		display: flex;
		align-items: center;
		margin-right: 3.125rem;
	}

	.nav__logo {
		max-height: 100%;
		margin-left: 1.5rem;
	}

	.nav__link {
		font-family: "Public Sans", sans-serif;
		font-size: var(--regular);
		font-weight: 600;
		color: #fff;
		text-decoration-color: #54b752;
		text-decoration-thickness: .125rem;
		margin-right: 1vw;
		position: relative;
	}

	.large-screen {
		display: none;
	}

	.arrow::after {
		content: "";
		display: inline-block;
		width: .75rem;
		height: .75rem;
		background: url(../images/icon-dropdown-arrow-green.svg);
		background-size: contain;
		margin-left: .25rem;
		background-repeat: no-repeat;
		vertical-align: middle;
	}

	.nav__search-box {
		position: relative;
		display: inline-block;
	}

	.nav__search-icon {
		position: absolute;
		left: .625rem;
		top: 55%;
		transform: translateY(-50%);
		width: 1.25rem;
		height: auto;
	}

	.nav__search-input {
		border-radius: 3.125rem;
		padding: .5rem 0 .5rem 2.1875rem;
		outline: none;
		border: 0;
		justify-self: flex-end;
		height: 2.1875rem;
		width: 12.5rem;
	}

	.nav__search-input::placeholder {
		margin-left: .625rem;
	}

	.menu {
		display: inline-block;
		margin-right: 2.5vw;
	}

	.menu::after {
		content: "";
		display: inline-block;
		width: 1rem;
		height: 1rem;
		background: url(../images/icon-menu-green.svg);
		background-size: contain;
		margin-left: 4px;
		background-repeat: no-repeat;
		vertical-align: middle;
	}

	.decorated {
		text-decoration: underline;
		text-decoration-color: #54b752;
		text-decoration-thickness: .125rem;
		text-underline-offset: .375rem;
	}
}

.header__title {
	font-family: sans-serif;
	border-bottom: .0625rem solid #aaa;
	padding-bottom: .625rem;
	font-size: var(--extra-large);
	font-weight: normal;
}

.main__section-heading {
	font-family: sans-serif;
	border-bottom: .0625rem solid #aaa;
	font-size: var(--very-large);
	font-weight: normal;
	margin: 0 0 .7144rem 0;
	padding: .5953rem 0 .2024rem 0;
}

.main__section-subheading {
	font-family: sans-serif;
	font-size: var(--large);
	font-weight: 700;
}

p {
	font-family: sans-serif;
	font-size: var(--small);
	color: #000;
	line-height: 1.1906rem;
	margin: .3175rem 0 .3969rem;
}

a {
	color: #002bb8;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: #faa700;
}

.figure {
	background-color: #f9f9f9;
	border: .0625rem solid #cccccc;
	display: inline-block;
	margin: .3969rem 1.1113rem 1.0319rem 0;
	padding: .1875rem;
	clear: left;

	.figure__image {
		display: block;
		width: auto;
		margin: .1875rem;
		padding: 0;
	}

	.figure__caption {
		font-size: var(--very-small);
		font-weight: 400;
		display: table-caption;
		caption-side: bottom;
		width: 100%;
		margin: 0;
	}
}

.left {
	margin: 0 1.1113rem 1.0319rem 0;
	float: left;
	border-radius: .0625rem;
}

@media only screen and (min-width: 53.125rem) {
	.large-screen {
		display: inline-block !important;
	}

	.small-screen {
		display: none;
	}
}
