@import url(normalize.css);

:root {
	--very-small-font: .7017rem;
	--small-font: .7937rem;
	--medium-font: 1.016rem;
	--large-font: 1.1906rem;
	--very-large-font: 1.4923rem;
}

body {
	width: 100vw;
	height: 100vh;
	background: rgb(229, 241, 236);
	background: linear-gradient(
		180deg,
		rgba(229, 241, 236, 1) 0%,
		rgba(209, 229, 217, 1) 100%
	);
}

.wrapper {
	background-color: #fff;
	border: .0625rem solid #3e7614;
	border-radius: 1em;
	padding: 1.5rem 1.875rem;
	margin: 2.21rem auto;
	width: clamp(calc(22.5rem - 2rem), calc(100% - 1rem), 62.5rem);
}

h1,
h2,
h3 {
	font-family: sans-serif;
}

h1,
h2 {
	border-bottom: .0625rem solid #aaa;
	padding-bottom: .625rem;
}

h1 {
	font-size: var(--very-large-font);
	font-weight: normal;
}

h2 {
	font-size: var(--large-font);
	font-weight: normal;
	margin: 0 0 .7144rem 0;
	padding: .5953rem 0 .2024rem 0;
}

h3 {
	font-size: var(--medium-font);
	font-weight: 700;
}

p {
	font-family: sans-serif;
	font-size: var(--small-font);
	color: #000;
	line-height: 1.1906rem;
	margin: .3175rem 0 .3969rem;
}

a {
	color: #002bb8;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
	color: #faa700;
}

.figure {
	background-color: #f9f9f9;
	border: .0625rem solid #cccccc;
	display: inline-block;
	margin: .3969rem 1.1113rem 1.0319rem 0;
	padding: .1875rem;
	clear: left;

	.figure__img {
		display: block;
		width: auto;
		margin: .1875rem;
		padding: 0;
	}

	.figure__figcaption {
		font-size: var(--very-small-font);
		font-weight: 400;
		display: table-caption;
		caption-side: bottom;
		width: 100%;
		margin: 0;
	}
}

.align-left {
	margin: 0 1.1113rem 1.0319rem 0;
	float: left;
	border-radius: .0625rem;
}
